<li ng-repeat="node in node.children" data-coordinates={{node.coordinates}}
										ng-mousedown="dragStart($event, node.coordinates)" 
										ng-mouseup="dragStop($event, node.coordinates)"
										ng-mousemove="dragged($event)">
	<i class="glyphicon" ng-show="node.state==='expanded'||node.state==='collapsed'" ng-mousedown="dragStop()" ng-mouseup="dragStop()" ng-click="toggleState(node)" ng-class="node.state==='collapsed'?'glyphicon-chevron-down':'glyphicon-chevron-up'" data-toggle="collapse" data-target="ol[data-id='{{node.coordinates}}']"></i>
	<div ng-include="customTemplate"></div>
	<ol data-id="{{node.coordinates}}" class="collapse in" ng-include="recursiveTemplate"></ol>
</li>
