.dragged{
	position: relative;
}
li{
	list-style-type: none;
	border: 1px solid black;
	border-radius: 3px;
	margin: 3px;
	border-radius: 10px;
}
li>i,
li>div{
	padding: 5px;
}
li>i{
	vertical-align: top;
}
li>div{
	display: inline-block;
}