li{
	list-style-type: none;
	border: 1px solid black;
	border-radius: 3px;
	margin: 0px;
	background-color: white;
}
li>i{
	vertical-align: top;
}
li>div{
	display: inline-block;
}
.placeholder{
	background-color: gray;
	border: 2px dashed black;
	border-radius: 5px;
}